footer {
  background-image: url(../photo/page-footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 1rem;
    #BigFooter {
      //   width: 70%;
      margin: auto;

      .SocialMedia {
        width: 100%;

        a {
          display: flex;
          align-items: center;
          // line-height: 60px;
          padding: 20px 15px;
          font-size: 12px;
          font-weight: 700;
          width: 16%;
          text-decoration: none;
          text-align: start;
          color: rgba(255, 255, 255, 0.5);
          // position: relative;
          text-transform: uppercase;
          transition: 0.4s ease-in-out;

          &:nth-child(1):hover {
            background-color: #3a5897;
          }

          &:nth-child(2):hover {
            background-color: #41d1da;
          }

          &:nth-child(3):hover {
            background-color: #dd4b80;
          }

          &:nth-child(4):hover {
            background-color: #35c6ea;
          }

          &:nth-child(5):hover {
            background-color: #c3222b;
          }

          &:nth-child(6):hover {
            background-color: #005cff;
          }

          &:nth-child(7):hover {
            background-color: #0073b1;
          }

          &:hover {
            span,
            i {
              color: white;
            }
          }

          span {
            z-index: 1;
          }

          i {
            // position: absolute;
            margin-left: 30px;
            font-size: 30px;
            // line-height: 60px;
            // position: absolute;
            // right: 10px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .login {
        width: 100%;
        padding: 60px 0;

        .contact {
          width: 20%;
          //   padding-left: 15px;
          //   padding-right: 15px;
          color: #c4c3c3;

          p {
            margin: 0 0 15px;
            font-size: 15px;
          }

          ul {
            margin: 0;
            padding: 0;
            font-size: 14px;
          }

          li {
            margin-top: 5px;
            list-style: none;
            padding-bottom: 15px;
            display: flex;
            align-items: baseline;

            i {
              color: red;
              padding-right: 4px;
            }
          }
        }
        .link {
          width: 24%;
          // padding-left: 15px;
          h6 {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 20px;
            color: #ffffff;

            &:hover {
              cursor: auto;
            }

            &::before {
              position: absolute;
              left: 0;
              bottom: -20px;
              content: "";
              width: 20px;
              height: 2px;
              background: #db2d2e;
              left: 0;
              bottom: 0px;
            }
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              width: 100%;
              padding: 4px 0px;

              a {
                text-decoration: none;
                color: #c4c3c3;
                transition: 0.4s ease-in-out;

                &:hover {
                  color: red;
                }

                i {
                  color: #ffffff;
                  z-index: 5 !important;
                  padding-right: 10px;
                }
              }
            }
          }
        }

        .post {
          width: 24%;

          h6 {
            padding-bottom: 10px;
            margin-bottom: 20px;
            color: #ffffff;
            position: relative;

            &::before {
              position: absolute;
              bottom: -20px;
              left: 0;
              content: "";
              width: 20px;
              height: 2px;
              background: #db2d2e;
              left: 0;
              bottom: 0px;
            }
          }

          .red-car {
            &:last-child {
              border-bottom: none;
            }

            img {
              height: 100%;
            }
            .info {
              width: 100%;

              ul {
                list-style: none;
                font-size: 14px;

                li {
                  a {
                    text-decoration: none;
                    color: #c4c3c3;
                    transition: 0.4s ease-in-out;
                    &:hover {
                      color: #da2c2d;
                    }
                  }

                  i {
                    color: red;
                  }

                  span {
                    color: #c4c3c3;
                    display: inline-block;
                    padding-top: 8px;
                  }
                }
              }
            }
          }
          hr {
            width: 90%;
            outline: none;
            border-top: 1px solid rgba(255, 255, 255, 0.554);
            margin: 0;
            margin-block: 10px;
          }
        }

        .newsletter {
          width: 24%;
          // margin-bottom: 15px;
          // padding-left: 15px;

          h6 {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 20px;
            color: #ffffff;

            &:hover {
              cursor: auto;
            }

            &::before {
              position: absolute;
              content: "";
              width: 20px;
              height: 2px;
              background: #db2d2e;
              left: 0;
              bottom: 0px;
            }
          }

          p {
            margin: 0 0 10px;
            color: #c4c3c3;
          }

          input {
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.11);
            margin-bottom: 15px;
            background-color: rgba(102, 102, 102, 0.1);
            height: 42px;
            padding: 12px 18px;
            color: #c4c3c3;
            outline: none;
            transition: 0.4s ease-in-out;
            &:focus {
              border: 1px solid #da2c2d;
            }
          }

          a {
            display: inline-block;
            margin-left: 0;
            margin-top: 5px;
            padding: 7px 20px;
            color: #ffffff;
            background-color: #000;
            text-decoration: none;
            position: relative;
            overflow: hidden;

            &:hover {
              &::after {
                height: 0;
              }

              &::before {
                transform: translateY(-10px);
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 15%;
              width: 100%;
              background-color: red;
              transform: translateY(0);
              transition: 0.2s ease-in-out 0.3s;
            }

            &::after {
              content: "";
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: red;
              transition: 0.3s ease-out;
            }

            span {
              color: white;
              text-transform: capitalize;
              font-size: 14px;
              width: 100%;
              position: relative;
              z-index: 1;
            }
          }
        }

        .boxes {
          width: 100%;
          margin: 4rem auto 0 auto;
          .box-1 {
            width: 49%;
            background: rgba(255, 255, 255, 0.08);
            padding: 40px 30px;

            .cell {
              width: 70%;
              vertical-align: top;

              h6 {
                padding-bottom: 10px;
                margin-bottom: 26px;
                font-weight: normal;
                color: white;
                position: relative;

                &::before {
                  position: absolute;
                  content: "";
                  width: 20px;
                  height: 2px;
                  background: #db2d2e;
                  left: 0;
                  bottom: 0px;
                }
              }

              p {
                color: #c4c3c3;
                margin-bottom: 0;
                font-size: 14px;
              }
            }

            .read {
              width: 30%;
              padding-left: 20px;
              vertical-align: middle;
              display: flex;
              justify-content: flex-end;
              align-items: center;

              a {
                text-decoration: none;
                font-size: 14px;
                text-align: center;
                border: 0px solid transparent;
                background-color: black;
                color: #ffffff;
                vertical-align: middle;
                padding: 8px 20px;
                display: inline-block;
                overflow: hidden;
                position: relative;

                &:hover {
                  &::after {
                    height: 0;
                  }

                  &::before {
                    transform: translateY(-10px);
                  }
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 15%;
                  width: 100%;
                  background-color: red;
                  transform: translateY(0);
                  transition: 0.2s ease-in-out 0.3s;
                }

                &::after {
                  content: "";
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: red;
                  transition: 0.3s ease-out;
                }

                span {
                  color: white;
                  text-transform: capitalize;
                  font-size: 14px;
                  width: 100%;
                  position: relative;
                  z-index: 1;
                }
              }
            }
          }

          .box-2 {
            width: 49%;
            background: rgba(255, 255, 255, 0.08);
            padding: 40px 30px;

            .cell {
              width: 70%;
              vertical-align: top;

              h6 {
                padding-bottom: 10px;
                margin-bottom: 26px;
                font-weight: normal;
                color: white;
                position: relative;

                &::before {
                  position: absolute;
                  content: "";
                  width: 20px;
                  height: 2px;
                  background: red;
                  left: 0;
                  bottom: 0px;
                }
              }

              p {
                color: #c4c3c3;
                margin-bottom: 0;
                font-size: 14px;
              }
            }

            .read {
              width: 30%;
              padding-left: 20px;
              vertical-align: middle;
              display: flex;
              justify-content: flex-end;
              align-items: center;

              a {
                text-decoration: none;
                font-size: 14px;
                text-align: center;
                border: 0px solid transparent;
                background-color: black;
                color: #ffffff;
                vertical-align: middle;
                padding: 8px 20px;
                display: inline-block;
                position: relative;
                overflow: hidden;

                &:hover {
                  &::after {
                    height: 0;
                  }
                  &::before {
                    transform: translateY(-10px);
                  }
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 15%;
                  width: 100%;
                  background-color: red;
                  transform: translateY(0);
                  transition: 0.2s ease-in-out 0.3s;
                }

                &::after {
                  content: "";
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  top: 0%;
                  left: 0%;
                  width: 100%;
                  height: 100%;
                  background-color: red;
                  transition: 0.3s ease-out;
                }

                span {
                  color: white;
                  text-transform: capitalize;
                  font-size: 14px;
                  width: 100%;
                  position: relative;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .last {
    border-top: 1px solid rgba(255, 255, 255, 0.067);
    padding: 2rem 0;
    background-color: black;
    .left-right {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .last-left {
        color: lightgrey;
        font-size: 14px;
        a {
          text-decoration: none;
          color: lightgrey;
          font-size: 14px;
          transition: 0.4s ease-in-out;
          &:hover {
            color: #da2c2d;
          }
        }
      }
      .last-right {
        a {
          text-decoration: none;
          color: lightgrey;
          font-size: 14px;
          transition: 0.4s ease-in-out;
          margin-right: 10px;
          &:hover {
            color: #da2c2d;
          }
        }
      }
    }
  }
}

// =================RESPONSIVE==================================

@media (max-width: 575px) {
  footer {
    .overlay {
      #BigFooter {
        .SocialMedia {
          a {
            padding: 15px;
            justify-content: center;
            span {
              display: none;
            }
            i {
              font-size: 20px;
              margin-left: 0;
              text-align: center;
            }
          }
        }
        .login {
          .contact {
            width: 100%;
            margin-block: 30px;
          }
          .link {
            width: 100%;
            margin-bottom: 50px;
          }
          .post {
            width: 100%;
            margin-bottom: 50px;
            hr {
              width: 100%;
            }
          }
          .newsletter {
            width: 100%;
          }
          .boxes {
            .box-1 {
              width: 100%;
              margin-bottom: 3rem;
              .cell {
                width: 100%;
                margin-bottom: 2rem;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
              }
            }
            .box-2 {
              width: 100%;
              .cell {
                width: 100%;
                margin-bottom: 2rem;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .last {
      .left-right {
        .last-left {
          width: 100%;
          text-align: center;
        }
        .last-right {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  footer {
    .overlay {
      #BigFooter {
        .SocialMedia {
          a {
            padding: 15px;
            justify-content: center;
            span {
              display: none;
            }
            i {
              font-size: 20px;
              margin-left: 0;
              text-align: center;
            }
          }
        }
        .login {
          .contact {
            width: 100%;
            margin-block: 30px;
          }
          .link {
            width: 100%;
            margin-bottom: 50px;
          }
          .post {
            width: 100%;
            margin-bottom: 50px;
            hr {
              width: 100%;
            }
          }

          .newsletter {
            width: 100%;
          }
          .boxes {
            .box-1 {
              width: 100%;
              margin-bottom: 3rem;
              .cell {
                width: 100%;
                margin-bottom: 2rem;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
              }
            }
            .box-2 {
              width: 100%;
              .cell {
                width: 100%;
                margin-bottom: 2rem;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .last {
      .left-right {
        .last-left {
          width: 100%;
          text-align: center;
        }
        .last-right {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer {
    .overlay {
      #BigFooter {
        .SocialMedia {
          a {
            padding: 15px;
            justify-content: center;
            span {
              display: none;
            }
            i {
              font-size: 20px;
              margin-left: 0;
              text-align: center;
            }
          }
        }
        .login {
          margin-top: 2rem;
          .contact {
            width: 48%;
            margin-top: 0;
            margin-bottom: 30px;
          }
          .link {
            width: 49%;
            margin-bottom: 50px;
          }
          .post {
            width: 48%;
            margin-bottom: 50px;
            hr {
              width: 100%;
            }
          }
          .newsletter {
            width: 49%;
          }
          .boxes {
            .box-1 {
              width: 49%;
              .cell {
                width: 100%;
                margin-bottom: 2rem;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
              }
            }
            .box-2 {
              width: 49%;
              .cell {
                width: 100%;
                margin-bottom: 2rem;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .last {
      .left-right {
        .last-left {
          width: 49%;
        }
        .last-right {
          width: 49%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer {
    .overlay {
      #BigFooter {
        .SocialMedia {
          a {
            i {
              font-size: 20px;
              margin-left: 20px;
            }
          }
        }
        .login {
          .boxes {
            .box-1 {
              .cell {
                width: 100%;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
                margin-top: 2rem;
              }
            }
            .box-2 {
              .cell {
                width: 100%;
              }
              .read {
                width: 100%;
                justify-content: flex-start;
                padding-left: 0;
                margin-top: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  footer {
    .overlay {
      #BigFooter {
        padding-inline: 5rem;
      }
    }
    .last {
      .left-right {
        padding-inline: 5rem;
      }
    }
  }
}
